/* Generic */

body {
    margin: 0;
    padding: 0;
    background: #393b3c;
    font-family: 'Cuprum', sans-serif;
}

h1, h2, h3, h4, p {
    margin-top: 5px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

code {
    color: #46555e;
    font-family: "Roboto Mono", Courier, monospace;
    font-size: 14px;
}

pre.highlight {
    padding: 10px;
    background: #f5f5f5;
    border-radius: 5px;
}

blockquote {
    border-left: 4px solid #889;
    margin-left: 5px;
    padding-left: 15px;
    font-style: italic;
}

hr {
    border: none;
    height: 1px;
    color: #eef;
    background-color: #eef;
}

/* Header */

#header #cover {
	border-bottom: 3px double #c9cbcc;
    text-align: center;
    background: #ffffff url('../assets/images/logo_medium.png') no-repeat center center;
}

#header #nav {
    padding: 11px 10px 15px 10px;
    vertical-align: middle;
    text-align: center;
    font-family: 'Cuprum', sans-serif;
    font-size: 18pt;
    color: #fff;
}

#header #nav #title {
	margin-bottom: 5px;
}

#header #nav #title small {
    font-size: 12pt;
}

#header #nav #menu {
    margin-left: 15px;
    text-transform: uppercase;
    font-size: 16px;
}

#header #nav #menu a {
    margin: 0 2px 0 2px;
    padding: 4px 5px 3px 5px;
    text-decoration: none;
    font-weight: bold;
    opacity: 0.5;
    color: #fff;
}

#header #nav #menu a:hover, #header #nav #menu a.selected, #header #nav #menu a.selected:hover {
    opacity: 1.0;
}

#header #nav #menu .icon img {
    width: 22px; 
    height: 22px;
    margin-bottom: -5px;
}

/* Footer */

#footer {
    padding: 15px 10px 15px 10px;
    display: block;
    text-align: center;
    font-size: 14px;
    color: #f4fbff;
    opacity: 0.5;
}

/* Content */

#content {
    max-width: 1000px;
    background: #fff url('/assets/images/bg_content.png') bottom right no-repeat;
	background-size: 200px 100px;
    font-size: 13pt;
    color: #393b3c;
}

#content a {
    color: #6d8492;
}

/* Sections */

.fixed-width {
    margin: 0 auto 0 auto;
}

.clear:after {
    clear: both;
    content: "";
    display: table;
}

/* Desktop-only */
@media only screen and (min-width: 900px) {
    .fixed-width {
        max-width: 900px!important;
    }
    
    #header #cover {
        height: 100px;
        background-size: 80px 80px;
    }
    
    #header #nav #title {
        display: inline;
    }
    
    #content {
        padding: 20px 30px 20px 30px;
        border-radius: 3px;
    }
}

/* Phone-only */
@media only screen and (min-width: 100px) and (max-width: 900px) {
    .fixed-width {
        max-width: 900px!important;
    }
    
    #header #cover {
        height: 55px;
        background-size: 40px 40px;
    }
    
    #header #nav #title {
        display: block;
    }
    
    #content {
        padding: 15px 20px 15px 20px;
        border-radius: 0px;
    }
}
