/* Generic */

html, body {
	height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Cuprum', sans-serif;
    background: #f8f8f9;
}

h1, h2, h3, h4, p {
    margin-top: 5px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.action {
	display: inline-block;
	padding: 10px 15px 10px 15px;
	background: #eeeeee;
	border-radius: 3px;
}
a.action:hover {
	background: #e7e7e7;
	text-decoration: none;
}

a#back-to-top {
	width: 30px;
	height: 40px;
	line-height: 40px;
	display: block;
    position: fixed;
	text-align: center;
    bottom: 5px;
    right: 15px;
    z-index: 99;
    color: #eee;
    background-color: #595959;
    border-radius: 3px;
	opacity: .7;
	text-decoration: none;
}

a#back-to-top:hover {
	opacity: .9;
	text-decoration: none;
}

code {
    color: #46555e;
    font-family: "Roboto Mono", Courier, monospace;
    font-size: 14px;
}

pre.highlight {
    padding: 10px;
    background: #f8f8f9;
    border-radius: 5px;
	white-space: pre-wrap;
}

blockquote {
    border-left: 4px solid #889;
    margin-left: 5px;
    padding-left: 15px;
    font-style: italic;
}

hr {
    border: none;
    height: 1px;
    color: #eef;
    background-color: #eef;
}

/* Header */

#hero {
    text-align: center;
    background: url('../assets/images/logo_medium.png') no-repeat center center;
}

#header {
	background-color: #393b3c;
}

#header #nav {
    padding: 11px 10px 15px 10px;
    vertical-align: middle;
    text-align: center;
    font-family: 'Cuprum', sans-serif;
    font-size: 18pt;
    color: #fff;
}

#header #nav #title {
	margin-bottom: 5px;
    text-decoration: none;
    color: #fff;
    opacity: 0.35;
}
#header #nav #title:hover {
    opacity: 0.45;
}

#header #nav #title small {
    font-size: 12pt;
}

#header #nav #menu {
    margin-left: 15px;
    text-transform: uppercase;
    font-size: 16px;
}

#header #nav #menu a {
    margin: 0 2px 0 2px;
    padding: 4px 5px 3px 5px;
    text-decoration: none;
    font-weight: bold;
    opacity: 0.35;
    color: #fff;
}

#header #nav #menu a:hover, #header #nav #menu a.selected, #header #nav #menu a.selected:hover {
    opacity: 1.0;
}

#header #nav #menu .icon img {
    width: 22px; 
    height: 22px;
    margin-bottom: -5px;
}

/* Footer */

#footer {
	height: 50px;
	line-height: 50px;
	display: block;
    opacity: .33;
	text-align: center;
    font-size: 14px;
    color: #393b3c;
}

/* Content */

#content {
    max-width: 1000px;
	margin-top: 1px;
    font-size: 13pt;
    color: #393b3c;
	border-bottom: 1px solid #f0f3f2;
    background: #fff;
}

#content a {
    color: #6d8492;
}

/* Sections */

.section {
	position: relative;
}

.fixed-width {
    margin: 0 auto 0 auto;
}

.clear:after {
    clear: both;
    content: "";
    display: table;
}

/* Generic media */

/* Desktop-only */
@media only screen and (min-width: 900px) {
    .fixed-width {
        max-width: 900px!important;
    }
    
    #hero {
        height: 100px;
        background-size: 80px 80px;
    }
    
    #header #nav #title {
        display: inline;
    }
    
    #content {
        padding: 30px 60px 30px 60px;
        border-radius: 0 0 5px 5px;
		border-left: 1px solid #f0f3f2;
		border-right: 1px solid #f0f3f2;
    }
}

/* Phone-only */
@media only screen and (min-width: 250px) and (max-width: 900px) {
    .fixed-width {
        max-width: 900px!important;
    }
    
    #hero {
        height: 55px;
        background-size: 40px 40px;
    }
    
    #header #nav #title {
        display: block;
    }
    
    #content {
        padding: 15px 25px 15px 25px;
        border-radius: 0px;
    }
}

/* Size-specific media */

@media only screen and (min-width: 450px) {
    img.hero {
        width: 400px;
        height: auto;
    }
}

/* Phone-only */
@media only screen and (min-width: 250px) and (max-width: 450px) {
    img.hero {
        width: 100%;
        height: auto;
    }
}
