<div id="header">
    <div id="nav" class="fixed-width">
        <a href="{{ site.baseurl }}/" id="title" title="Home">
            <img src="{{ site.baseurl }}/assets/images/logo_hero.png"/>
            <span id="title-text"><b>Traversal</b>&#8202;<small>space</small></span>
        </a>
        <span id="menu">
            {% for section in site.sections %}
            <a href="{{ site.baseurl }}{{ section.path }}" class="{% if page.id == section.id %}selected{% endif %}">{{ section.title }}</a> 
            {% endfor %}
            {% for service in site.services %}
            <a href="{{ service.url }}" title="{{ service.title }}" target="_blank" class="icon">
                <img src="{{ site.baseurl }}/assets/images/nav_{{ service.type }}.png"/>
            </a>
            {% endfor %}
        </span>
    </div>
</div>
